---
openapi: 3.1.0
info:
  title: Order Processing System
  version: 1.0.0
servers:
  - url: http://localhost:8000
    description: Local development server
x-postman-variables:
  - key: user_token
    value: ""
    type: string
  - key: staff_token
    value: ""
    type: string
  - key: admin_token
    value: ""
    type: string
paths:
  "/auth/register":
    post:
      tags:
      - Auth
      summary: Register
      operationId: auth_register
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RegisterUserRequest"
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GenericResponse"
  "/auth/login":
    post:
      tags:
      - Auth
      summary: Login
      operationId: auth_login
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LoginUserRequest"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/LoginUserResponse"
  "/admin/users":
    get:
      tags:
      - Admin
      summary: Get All Users
      operationId: admin_get_all_users
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UserListDTO"
  "/admin/users/staff":
    post:
      tags:
      - Admin
      summary: Create Staff User
      operationId: admin_create_staff
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateStaffRequest"
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GenericResponse"
  "/admin/users/{user_id}":
    delete:
      tags:
      - Admin
      summary: Delete User
      operationId: admin_delete_user
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GenericResponse"
  "/orders":
    post:
      tags:
      - Orders
      summary: Create Order
      operationId: orders_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateOrderRequest"
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GenericResponse"
    get:
      tags:
      - Orders
      summary: Get User Orders
      operationId: orders_get_my_orders
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrderListResponse"
  "/orders/{order_id}":
    get:
      tags:
      - Orders
      summary: Get Order By Id
      operationId: orders_get_order
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Order"
    delete:
      tags:
      - Orders
      summary: Cancel Order
      operationId: orders_cancel
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GenericResponse"
  "/orders/{order_id}/payment":
    post:
      tags:
      - Orders
      summary: Process Payment
      operationId: orders_process_payment
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ProcessPaymentRequest"
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Order"
  "/orders/track/{order_id}":
    get:
      tags:
      - Orders
      summary: Track Order
      operationId: orders_track
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Order"
  "/staff/orders/{order_id}/fulfilment":
    patch:
      tags:
      - Staff
      summary: Update Fulfilment
      operationId: staff_update_fulfilment
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateFulfilmentRequest"
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GenericResponse"
  "/staff/orders/all":
    get:
      tags:
      - Staff
      summary: Get All Orders
      operationId: staff_get_all_orders
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrderListResponse"
  "/staff/orders/order/{order_id}":
    get:
      tags:
      - Staff
      summary: Get Order By Id
      operationId: staff_get_order
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Order"
  "/staff/orders/{order_status}":
    get:
      tags:
      - Staff
      summary: Get Orders By Status
      operationId: staff_get_orders_by_status
      parameters:
      - name: order_status
        in: path
        required: true
        schema:
          "$ref": "#/components/schemas/OrderStatus"
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrderListResponse"
components:
  schemas:
    CreateOrderRequest:
      properties:
        delivery_address:
          type: string
          maxLength: 500
          minLength: 10
          title: Delivery Address
        items:
          items:
            "$ref": "#/components/schemas/OrderItemDTO"
          type: array
          minItems: 1
          title: Items
      type: object
      required:
      - delivery_address
      - items
      title: CreateOrderRequest
    CreateStaffRequest:
      properties:
        first_name:
          type: string
          maxLength: 50
          minLength: 2
          title: First Name
        last_name:
          type: string
          maxLength: 50
          minLength: 2
          title: Last Name
        email:
          type: string
          format: email
          title: Email
        password:
          type: string
          maxLength: 200
          minLength: 8
          title: Password
        role:
          type: string
          pattern: "^(staff|admin)$"
          title: Role
      type: object
      required:
      - first_name
      - last_name
      - email
      - password
      - role
      title: CreateStaffRequest
    GenericResponse:
      properties:
        message:
          type: string
          title: Message
      type: object
      required:
      - message
      title: GenericResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            "$ref": "#/components/schemas/ValidationError"
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    LoginUserDTO:
      properties:
        id:
          type: string
          minLength: 1
          title: Id
        first_name:
          type: string
          maxLength: 50
          minLength: 2
          title: First Name
        last_name:
          type: string
          maxLength: 50
          minLength: 2
          title: Last Name
        email:
          type: string
          format: email
          title: Email
        role:
          type: string
          title: Role
      type: object
      required:
      - id
      - first_name
      - last_name
      - email
      - role
      title: LoginUserDTO
    LoginUserRequest:
      properties:
        email:
          type: string
          format: email
          title: Email
        password:
          type: string
          maxLength: 200
          minLength: 8
          title: Password
      type: object
      required:
      - email
      - password
      title: LoginUserRequest
    LoginUserResponse:
      properties:
        token:
          type: string
          minLength: 1
          title: Token
        user:
          "$ref": "#/components/schemas/LoginUserDTO"
      type: object
      required:
      - token
      - user
      title: LoginUserResponse
    Order:
      properties:
        order_id:
          type: string
          title: Order Id
          default: ''
        user_id:
          type: string
          maxLength: 100
          minLength: 1
          title: User Id
        delivery_address:
          type: string
          maxLength: 500
          minLength: 10
          title: Delivery Address
        status:
          "$ref": "#/components/schemas/OrderStatus"
        items:
          items:
            "$ref": "#/components/schemas/OrderItem"
          type: array
          minItems: 1
          title: Items
        total_amount:
          type: string
          pattern: "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d{0,2}0*$"
          title: Total Amount
        payment_details:
          anyOf:
          - "$ref": "#/components/schemas/PaymentDetails"
          - type: 'null'
        status_history:
          items:
            "$ref": "#/components/schemas/StatusChange"
          type: array
          title: Status History
          default: []
        created_at:
          type: integer
          title: Created At
          default: 0
        updated_at:
          type: integer
          title: Updated At
          default: 0
      type: object
      required:
      - user_id
      - delivery_address
      - status
      - items
      - total_amount
      title: Order
    OrderItem:
      properties:
        product_id:
          type: string
          maxLength: 100
          minLength: 1
          title: Product Id
        product_name:
          type: string
          maxLength: 200
          minLength: 1
          title: Product Name
        quantity:
          type: integer
          maximum: 1000
          exclusiveMinimum: 0
          title: Quantity
        unit_price:
          type: string
          pattern: "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d{0,2}0*$"
          title: Unit Price
        subtotal:
          type: string
          pattern: "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d{0,2}0*$"
          title: Subtotal
      type: object
      required:
      - product_id
      - product_name
      - quantity
      - unit_price
      - subtotal
      title: OrderItem
    OrderItemDTO:
      properties:
        product_id:
          type: string
          maxLength: 100
          minLength: 1
          title: Product Id
        product_name:
          type: string
          maxLength: 200
          minLength: 1
          title: Product Name
        quantity:
          type: integer
          maximum: 1000
          exclusiveMinimum: 0
          title: Quantity
        unit_price:
          anyOf:
          - type: number
            exclusiveMinimum: 0
          - type: string
            pattern: "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d{0,2}0*$"
          title: Unit Price
        subtotal:
          anyOf:
          - type: number
            exclusiveMinimum: 0
          - type: string
            pattern: "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d{0,2}0*$"
          title: Subtotal
      type: object
      required:
      - product_id
      - product_name
      - quantity
      - unit_price
      - subtotal
      title: OrderItemDTO
    OrderListResponse:
      properties:
        orders:
          items:
            "$ref": "#/components/schemas/Order"
          type: array
          title: Orders
        total_count:
          type: integer
          title: Total Count
      type: object
      required:
      - orders
      - total_count
      title: OrderListResponse
    OrderStatus:
      type: string
      enum:
      - PAYMENT_PENDING
      - PAYMENT_CONFIRMED
      - FULFILLMENT_IN_PROGRESS
      - FULFILLED
      - PAYMENT_FAILED
      - FULFILLMENT_FAILED
      title: OrderStatus
    PaymentDetails:
      properties:
        payment_method:
          type: string
          maxLength: 50
          minLength: 1
          title: Payment Method
        transaction_id:
          type: string
          maxLength: 100
          minLength: 1
          title: Transaction Id
        payment_status:
          type: string
          maxLength: 50
          minLength: 1
          title: Payment Status
        processed_at:
          anyOf:
          - type: integer
          - type: 'null'
          title: Processed At
      type: object
      required:
      - payment_method
      - transaction_id
      - payment_status
      title: PaymentDetails
    PaymentStatus:
      type: string
      enum:
      - success
      - fail
      title: PaymentStatus
    ProcessPaymentRequest:
      properties:
        payment_method:
          type: string
          maxLength: 50
          minLength: 1
          title: Payment Method
        payment_status:
          "$ref": "#/components/schemas/PaymentStatus"
      type: object
      required:
      - payment_method
      - payment_status
      title: ProcessPaymentRequest
    RegisterUserRequest:
      properties:
        first_name:
          type: string
          maxLength: 50
          minLength: 2
          title: First Name
        last_name:
          type: string
          maxLength: 50
          minLength: 2
          title: Last Name
        email:
          type: string
          format: email
          title: Email
        password:
          type: string
          maxLength: 200
          minLength: 8
          title: Password
      type: object
      required:
      - first_name
      - last_name
      - email
      - password
      title: RegisterUserRequest
    StatusChange:
      properties:
        from_status:
          "$ref": "#/components/schemas/OrderStatus"
        to_status:
          "$ref": "#/components/schemas/OrderStatus"
        changed_at:
          type: integer
          exclusiveMinimum: 0
          title: Changed At
        changed_by:
          type: string
          maxLength: 100
          minLength: 1
          title: Changed By
      type: object
      required:
      - from_status
      - to_status
      - changed_at
      - changed_by
      title: StatusChange
    UpdateFulfilmentRequest:
      properties:
        action:
          type: string
          pattern: "^(start|complete|cancel)$"
          title: Action
      type: object
      required:
      - action
      title: UpdateFulfilmentRequest
    UserDTO:
      properties:
        id:
          type: string
          minLength: 1
          title: Id
        first_name:
          type: string
          maxLength: 50
          minLength: 2
          title: First Name
        last_name:
          type: string
          maxLength: 50
          minLength: 2
          title: Last Name
        email:
          type: string
          format: email
          title: Email
        role:
          type: string
          title: Role
        created_at:
          type: integer
          exclusiveMinimum: 0
          title: Created At
        updated_at:
          type: integer
          exclusiveMinimum: 0
          title: Updated At
      type: object
      required:
      - id
      - first_name
      - last_name
      - email
      - role
      - created_at
      - updated_at
      title: UserDTO
    UserListDTO:
      properties:
        users:
          items:
            "$ref": "#/components/schemas/UserDTO"
          type: array
          title: Users
        count:
          type: integer
          title: Count
      type: object
      required:
      - users
      - count
      title: UserListDTO
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
