AWSTemplateFormatVersion: '2010-09-09'
Description: 'Order Processing System - Messaging Resources'

Parameters:
  Environment:
    Type: String
    Default: dev

Resources:
  OrderEventsTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub 'order-events-${Environment}'
      DisplayName: Order Processing Events
      KmsMasterKeyId: alias/aws/sns
      Tags:
        - Key: Environment
          Value: !Ref Environment
        - Key: Application
          Value: OrderProcessing

  OrderEventsDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub 'order-events-dlq-${Environment}'
      MessageRetentionPeriod: 1209600
      KmsMasterKeyId: alias/aws/sqs

  OrderEventsQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub 'order-events-${Environment}'
      VisibilityTimeout: 300
      MessageRetentionPeriod: 1209600
      ReceiveMessageWaitTimeSeconds: 20
      KmsMasterKeyId: alias/aws/sqs
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt OrderEventsDeadLetterQueue.Arn
        maxReceiveCount: 3
      Tags:
        - Key: Environment
          Value: !Ref Environment
        - Key: Application
          Value: OrderProcessing

  QueuePolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      Queues:
        - !Ref OrderEventsQueue
      PolicyDocument:
        Statement:
          - Effect: Allow
            Principal:
              Service: sns.amazonaws.com
            Action:
              - sqs:SendMessage
            Resource: !GetAtt OrderEventsQueue.Arn
            Condition:
              ArnEquals:
                aws:SourceArn: !Ref OrderEventsTopic

  TopicSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Protocol: sqs
      TopicArn: !Ref OrderEventsTopic
      Endpoint: !GetAtt OrderEventsQueue.Arn
      RawMessageDelivery: true

Outputs:
  SNSTopicArn:
    Description: SNS Topic ARN
    Value: !Ref OrderEventsTopic
    Export:
      Name: !Sub '${AWS::StackName}-SNSTopicArn'

  SQSQueueUrl:
    Description: SQS Queue URL
    Value: !Ref OrderEventsQueue
    Export:
      Name: !Sub '${AWS::StackName}-SQSQueueUrl'

  SQSQueueArn:
    Description: SQS Queue ARN
    Value: !GetAtt OrderEventsQueue.Arn
    Export:
      Name: !Sub '${AWS::StackName}-SQSQueueArn'

  DLQUrl:
    Description: Dead Letter Queue URL
    Value: !Ref OrderEventsDeadLetterQueue
    Export:
      Name: !Sub '${AWS::StackName}-DLQUrl'
